---
---

@import "{{ site.theme }}";

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #2879d0;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
}
