---
---

@import "{{ site.theme }}";

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
}

header a.button {
  position: static;
  display: inline;
  background: none;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-style: solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
